* {  /*font-family: 'Noto Sans', sans-serif;*/
  font-family: Helvetica;
  font-size: 14px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* sample */
/*@font-face {
  font-family: myFirstFont;
  src: url(../fonts/myFirstFont.woff);
}*/

@icon-font-path:          "../fonts/";
@icon-font-name:          "glyphicons-halflings-regular";

/*below is name and navi*/
#header ul {
	border:  2px none gray;
	border-bottom-style: dashed;
	margin: 0;
	text-align: right;
}
#header li {
	border:  2px solid gray;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	font-weight: bold;
	width: 90px;
	padding: 2px 5px;
	margin-bottom: 2px;
}
#header a:link {
	text-decoration: none;
}
#header a:visited {
	/*color: black;*/
}
#header a:hover {
	font-style: italic;
}
/*above is name and navi*/

.slider {
	position: relative;
	border-bottom: 2px solid #ddd;
	width: 100%;
	margin: 50px auto;
	height: 300px;
}
.slide {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0 auto;
	width: 100%;
	height: 270px;
	border-radius: 10px;
	vertical-align: top;
}
.active-slide {
    display: block;
}
/*#theme1 {
	background-color: #B48DAF;
}
#theme2 {
	background-color: #25AAE1;
}
#theme3 {
	background-color: #FFEB45;
}
#theme4 {
	background-color: #B7633E;
}*/
.dots {
	text-align: center;
	position: relative;
	display: block;
	list-style: none;
	top: 270px;
	padding-left: 0;
	margin: 0 auto;
}
.dot {
  color: #bbbcbc;
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}
.active-dot {
  color: #363636;
}

/*below is footer*/
#footer {
	text-align: right;
	padding-right: 20px;
}
#footer img{
	width: 30px;
	height: 30px;
	border-color: white;
}
/*above is footer*/