* {
  font-family: Helvetica;
  font-size: 14px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/*below is name and navi*/
#header ul {
	border:  2px none gray;
	border-bottom-style: dashed;
	margin: 0;
	text-align: right;
}
#header li {
	border:  1px solid black;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	font-weight: bold;
	width: 90px;
	padding: 2px 5px;
}
#header a:link {
	text-decoration: none;
}
#header a:visited {
	color: black;
}
#header a:hover {
	font-style: italic;
}
/*above is name and navi*/

.cheatsheets {
	border-bottom: 2px solid #ddd;
	padding: 20px;
	margin: 50px auto;
	height: 300px;
}
.cheatsheets a:link {
	text-decoration: none;
}
.cheatsheets a:visited {
	color: black;
}
.cheatsheets a:hover {
	font-weight: bold;
}

/*below is footer*/
#footer {
	text-align: right;
	padding-right: 20px;
}
#footer img{
	width: 30px;
	height: 30px;
	border-color: white;
}
/*above is footer*/