* {
  font-family: Helvetica;
  font-size: 14px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/*below is name and navi*/
#header ul {
	border:  2px none gray;
	border-bottom-style: dashed;
	margin: 0;
	text-align: right;
}
#header li {
	border:  1px solid black;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	font-weight: bold;
	width: 90px;
	padding: 2px 5px;
}
#header a:link {
	text-decoration: none;
}
#header a:visited {
	/*color: black;*/
}
#header a:hover {
	font-style: italic;
}
/*above is name and navi*/

.blogs {
	border-bottom: 2px solid #ddd;
	padding: 20px;
	margin: 50px auto;
	height: 300px;
	top: 100px;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	-column-count: 2;

	-webkit-column-gap: 20px;
	-moz-column-gap: 20px;
	-column-gap: 20px;

/*	-webkit-column-rule: 10px outset blue;
	-moz-column-rule: 10px outset blue;
	-column-rule: 10px outset blue;*/
}
.blogs ul {
	/*border: 1px solid red;*/
	list-style: none;
	padding-left: 0;
	margin: 0;
}
.blogs li {
	/*border: 1px solid blue;*/
	margin: 2px auto;
	padding: 5px;
}
.blogs a:link {
	text-decoration: none;
}
.blogs a:visited {
	color: black;
}
.blogs a:hover {
	font-weight: bold;
}

/*below is blog post style*/
.post {
	border: 1px solid purple;
	padding: 20px;
	margin: 50px auto;
	top: 100px;
	max-width: 70%;
}
/*above is blog post style*/

/*below is footer*/
#footer {
	text-align: right;
	padding-right: 20px;
}
#footer img{
	width: 30px;
	height: 30px;
	border-color: white;
}/*above is footer*/