/* website rule CSS */
body {
	background-color: white;

	font-family: Verdana;
	padding: 0px;
}
/* website rule CSS */


/* header CSS start*/
#header {
	display: block;

	color: white;

	background-color: #00BFFF;
	border-radius: 10px;
	padding: 1px;
	margin-bottom: 10px;
}
#naviBar {
	font-size: 16px;
	font-family: Cursive;
	text-align: right;
	margin-top: 2px;
	margin-bottom: 2px;
}
#header a:link {
	text-decoration: none;
}
#header a:visited {
	text-decoration: none;
	color: white;
}
h2 {
	margin-left: 10%;
	margin-top: 5px;
	margin-bottom: 5px;
}
ul {
	margin: 2px;
}
li {
	font-style: italic;
	display: inline-block;
	background-color: #00BFFF;
	border: 1px solid white;
	border-radius: 4px;
	margin: 2px;
	padding: 2px 5px 2px 5px;
}
#naviBar a:link {
	text-decoration: none;
}
#naviBar a:hover {
	font-weight:bold;
}
#naviBar a:visited {
	color: white;
}
/* header CSS end */


/* main container CSS start */
#container {
	margin-bottom: 10px;	
	padding: 0px;
	overflow: auto;
}
#container img {
	width: 60%;
	float: left;
	border-radius: 2px;
	border: 2px solid gray;
	margin-right: 10px;
}
/* main container CSS end */


/* footer CSS start */
#footer {
	clear: both;

	font-family: Cursive;
	text-align: right;

	background-color: #00BFFF;
	border-radius: 10px;
}
#footer img{
	width: 30px;
	height: 30px;
	margin: 2px;
	border-radius: 2px;
	border-color: white;
}
/* footer CSS end */


/* blog index CSS start */
#themeButton {
	font-color: #696969;
}
#themeButton li {
	display: block;
	background-color: #87CEEB;	
	width: 300px;
	font-color: black;
	margin: 2px;

	font-family: cursive; 
	font-size: 12px;
}
/* blog index CSS start */